<div class="col-lg-12">
  <div class="card mt-1">
    <div class="card-body">
      <table class="datatable table table-bordered table-striped table-hover dt-responsive wrap-whitespace w-100" data-fixed-header="false">
        <h2 class="sub-header text-center mt-4">Product List Page</h2>
        <thead>
        <tr>
          <th class="no-sort">Sr. NO</th>
          <th class="sort">Sku Code</th>
          <th class="no-sort">Product Name</th>
          <th class="no-sort">Warehouse</th>
          <th class="sort">Product Count</th>
        </tr>
        </thead>
        <tbody>
        <% @warehouse_products.each_with_index do |product, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= link_to (product.product.sku_code), edit_product_path(product.product.id) %></td>
            <td><%= product.to_s %></td>
            <td><%= product.warehouse.name %></td>
            <td><%= status_badge(product.item_count) %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <div class="container pagination justify-content-center" >
    <%= paginate @warehouse_products %>
    </div>
  </div>
</div>

