<div class="col-10 mt-5">
  <section class="mb-3 pt-3 pt-lg-5 pb-2">
  <%= simple_form_for([@warehouse]) do |f| %>
    <%= render 'shared/snippets/form_errors', f: f %>

      <div class="alert alert-info alert-dismissible fade show">
      <strong>Info!</strong> Creating New warehouse will add existing all Products to this Warehouse
      <button type="button" class="close" data-dismiss="alert">&times;</button>
      </div>
    <div class="card">
      <div class="card-header">
        <div class="page-header text-center text-black-50">
          <h2 class="font-weight-bold">Warehouse New</h2>
        </div>
      </div>

      <div class="card-body">
        <div class="error list-group disabled align-center text-danger mb-0 px-1"></div>
        <div class="form-row">
          <div class="form-group col-md-12">
            <%= f.input :wh_code, input_html: {class: 'form-control'}, label: 'Warehouse Code' %>
          </div>
          <div class="form-group col-md-12">
            <%= f.input :name, input_html: {class: 'form-control'} %>
          </div>
          <div class="form-group col-md-12">
            <%= f.input :pincode, input_html: {class: 'form-control'} %>
          </div>
          <div class="form-group col-md-12">
            <%= f.input :max_capacity, input_html: {class: 'form-control'} %>
          </div>
        </div>
      </div>

      <div class="card-footer">
        <div class="form-row">
          <%= f.button :submit, class: "btn btn-dark btn-color btn-block"%>
        </div>
      </div>
    </div>
  <% end %>
  </section>
</div>