<!DOCTYPE html>
<html>
<head>
  <title>IMS</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand font-weight-bold text-size">IMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', products_path, class: 'navbar-brand' %>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Product List', products_path, class: 'dropdown-item' %>
          <%= link_to 'Warehouse List', warehouses_path, class: 'dropdown-item' %>
          <%= link_to 'warehouse Products lists', warehouse_products_path, class: 'dropdown-item' %>
        </div>
      </li>
    </ul>
    <%= render 'shared/snippets/search' %>
  </div>
</nav>
<div class="container-fluid">
  <div class="row justify-content-center">
    <% flash.each do |message_type, message| %>
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <%= message %>
        <button class="close" data-dismiss="alert" aria-label="Close">
          <i class="fa fa-close"></i>
        </button>
      </div>
    <% end %>
    <%= yield %>
  </div>
</div>
</body>
<!--<footer class="page-footer bg-dark">-->

<!--   Copyright -->
<!--  <div class="card bg-dark text-white">-->
<!--  <div class="footer-copyright text-center py-3">© 2020 Copyright:-->
<!--    <a href="https://github.com/sakshi3126"> Github</a>-->
<!--  </div>-->
<!--  </div>-->
<!--   Copyright -->

<!--</footer>-->
</html>
